@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to URL Analyzer</h1>
    <div>
        <p>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Analyze">Click here to start URL analyzer</a>
        </p>
    </div>
</div>
